@model Vidly.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (Html.BeginForm("NewCustomer", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.customer.Name)
        @Html.TextBoxFor(c => c.customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.customer.Dob)
        @Html.TextBoxFor(c => c.customer.Dob, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.customer.MembershipTypeId)
        @Html.TextBoxFor(c => c.customer.MembershipTypeId, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>
            @Html.CheckBoxFor(c => c.customer.IsSubscribedToNewsletter) Subscribe To Newsletter?
        </label>
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.customer.MembershipType)
        @Html.DropDownListFor(c => c.customer.MembershipType, new SelectList(Model.MembershipTypes,"Id","MembershipName"),"Select Membership", new {@class="form-control"})
    </div>
}
